body {
    max-width: 80vw;
    height: 80vw;
    margin: 0 auto;
    padding-top: 7vw;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
   
}

.box { 
     margin-top: 3vw;
     display: grid;
     grid-template-columns: repeat(90, 1fr);
     grid-template-rows: repeat(100, 1fr);
     width: 80vw;
     height: calc(5 / 4 * 80vw);
}

.item {
    border: 1px solid black;
    border-radius: 9999px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reset-button {
    border: calc(3 / 1920 * 100vw) solid black;
    color: black;
    background: none;
    width: 20vw;
    height: 5vw;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 0 auto;
    transition: 0;
}

.reset-button:hover {
    background: black;
    color: white;
}